{:paths ["src"]
 :deps    {org.jsoup/jsoup           {:mvn/version "1.18.1"}
           org.clojure/core.async    {:mvn/version "1.6.681"}
           org.clojure/tools.logging {:mvn/version "1.3.0"}}
 :aliases {:dev {:extra-paths ["dev"]
                 :extra-deps  {ch.qos.logback/logback-core    {:mvn/version "1.5.7"}
                               ch.qos.logback/logback-classic {:mvn/version "1.5.7"}
                               org.slf4j/slf4j-api            {:mvn/version "2.0.16"}
                               org.clojure/tools.logging      {:mvn/version "1.3.0"}}}
           :build {:deps {io.github.clojure/tools.build {:git/tag "v0.10.5" :git/sha "2a21b7a"}}
                   :ns-default build}
           :deploy {:extra-deps {slipset/deps-deploy {:mvn/version "0.2.2"}}
                     :exec-fn deps-deploy.deps-deploy/deploy
                     :exec-args {:installer :remote
                                 :sign-releases? true
                                 :artifact "deps-deploy.jar"}}}}